body{
    background: linear-gradient(#ffffff,#000);
    width: 100vw; height: 100vh;
}
.header{
   text-align: center;
   color: coral;
}
.label{
 font-weight: 700;
 font-family: sans-serif;
 font-style: normal;
 font-size: 18px;
}
.item{
    margin-bottom: 10px;
}
.form{
    margin-top: 50px;
}